<div class="center">
    <h1>Hello and welcome to my homepage!</h1>

    <p>I'm going to use Astro to make this crypto project</p>

    <form>
        <select id="fruits" name="fruit"> </select>
    </form>
</div>
